@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root{
/*-- cores -- */

--cor01: #EDF1D6;
--cor02: #B09B71;
--cor03: #40513B;
--cor04: #609966;

/*-- variavel tamanho -- */

--menu-height: 65px;


}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    color:var(--cor03);
}

body, button, input, select, textarea{

    font-family: 'Josefin Sans', sans-serif;
    color: var(--cor03);
}

h1{
    font-size: 40px;
}

h2{
    font-size: 22px;
}

h1, h2{
    margin: 6px 0;
    font-weight: 400;
}

p{
    font-size: 20px;
    margin: 15px 0;
}
button{
    background-color:var(--cor04);
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    color: var(--cor01);
    margin-top: 10px;
}

header{
    background-color: var(--cor01);
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;

    
}


header .container{
    height: fit-content;
    width: 50%;
    padding: 0px 0px 0px 80px;
    
}
nav{
    display: flex;
    height: var(--menu-height);
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    background-color: var(--cor02);
    top: 0 ;

}

nav img{
    height: 45px;
}

nav ul a{
    font-size: 20px;
    text-decoration: none;
    color: var(--cor03);
    margin: 0 25px
}

section{
    height:1200px;
    background-color: #609966;
}